/****** Script to delete out a tax year period  by year and OpportunityID ******/
GO
SET NOEXEC OFF
SET NOCOUNT ON
/******			User Inputs               ******/
DECLARE @OpportunityID INT = 7764114
DECLARE @TaxYear INT = 2015
/******									  ******/
SET XACT_ABORT ON;

DECLARE @EngId INT = (
						SELECT EngagementId 
						FROM [TaxWFPortalData].[dbo].[Engagements] 
						WHERE OpportunityId = @OpportunityID 
						AND BusinessServiceLineId = 2
						)

IF(@EngId IS NULL)
	BEGIN 
		PRINT 'Unable to find an engagement with opportunity ID ' + CONVERT(nvarchar(10),@OpportunityID) +' for the PCC service Line.'		
		SET NOEXEC ON
	END

DECLARE @EngSeqId INT = (
						SELECT SequenceInstanceId 
						FROM [TaxWFPortalData].[dbo].[Engagements] 
						Where EngagementId = @EngId
						)



DECLARE @LastPeriodYear INT = (SELECT MAX(PeriodYear) FROM [Sequence].[dbo].UWF41793259602e4feebefd7b8036fe91b2 WHERE EngagementInstanceId = @EngSeqId AND EngagementId = @EngId)
IF(@LastPeriodYear <> @TaxYear )
	BEGIN
		PRINT 'The year you are trying to delete is not the last tax year that has been kicked off. Aborting Execution.' 
		SET NOEXEC ON
	END

DECLARE @FirstTaxYear INT 
DECLARE @PeriodLength INT

IF ((SELECT count(*) FROM [Sequence].[dbo].UWF41793259602e4feebefd7b8036fe91b2 WHERE EngagementID = @EngId AND  PeriodYear = @TaxYear) <> 1)
	BEGIN
		PRINT 'Too many/little periods detected. Aborting Execution.'
		SET NOEXEC ON
	END
DECLARE @PeriodWorkflowInstance int =  (SELECT fldIWfId FROM [Sequence].[dbo].UWF41793259602e4feebefd7b8036fe91b2 WHERE EngagementID = @EngId AND  PeriodYear = @TaxYear)

/*START OF CURRENT ACTIVE WORKFLOWS*/
DECLARE @level int = 0  
DECLARE @levelCount int = 0

DECLARE @WorkflowInstance TABLE
(
	LevelId int
	,Id int
	,WorkflowIdentifier uniqueidentifier
)

INSERT INTO @WorkflowInstance  
SELECT @level LevelId, fldId, fldTemplateWfGuid 
FROM [Sequence].[dbo].tblInstanceWorkflows 
WHERE fldId = @PeriodWorkflowInstance
AND fldCompletionDate IS NULL
AND fldStatus IN (0, 1, 2)

SELECT @levelCount = COUNT(Id)
FROM @WorkflowInstance
WHERE LevelId = @level

WHILE(@levelCount > 0)
BEGIN
	SET @level = @level + 1
	
	INSERT INTO @WorkflowInstance 
	SELECT @level LevelId, fldId, fldTemplateWfGuid
	FROM [Sequence].[dbo].tblInstanceWorkflows 
	WHERE fldSourceIWfId IN( SELECT Id FROM @WorkflowInstance WHERE LevelId = @level -1)
	AND fldCompletionDate IS NULL
	AND fldStatus IN (0, 1, 2)
	
	
	SELECT @levelCount = COUNT(Id)
	FROM @WorkflowInstance
	WHERE LevelId = @level
END
/*END OF CURRENT ACTIVE WORKFLOWS */



DECLARE @PortalPeriodCount INT = (
									SELECT COUNT(*) 
									FROM [TaxWFPortalData].[dbo].[Periods] 
									WHERE EngagementId = @EngId
									)



DECLARE @WorkflowActivePeriodCount int = (
											SELECT COUNT(*) 
											FROM [Sequence].[dbo].tblInstanceWorkflows
											WHERE fldSourceIWfId = @EngId
											AND fldCompletionDate IS NULL
											AND fldStatus IN (0, 1, 2)
											)

SELECT @WorkflowActivePeriodCount  = @WorkflowActivePeriodCount + COUNT(*)
FROM [Sequence].[dbo].tblInstanceWorkflowsClosed
WHERE fldSourceIWfId = @EngId
AND fldCompletionDate IS NULL
AND fldStatus IN (0, 1, 2)

DECLARE @WorkflowActiveClientPeriodCount int = (
												SELECT COUNT(*) 
												FROM @WorkflowInstance
												WHERE LevelID = 1 
												)


IF (@WorkflowActiveClientPeriodCount > 0)
	BEGIN
		PRINT 'Client Periods Kicked off and still active. Aborting Execution.'
		SET NOEXEC ON
	END

IF (@WorkflowActivePeriodCount = 0 AND @PortalPeriodCount=0)
	BEGIN
		PRINT 'No Periods to delete. Aborting Execution.'
		SET NOEXEC ON
	END
	



SET NOCOUNT OFF

PRINT 'Starting to delete the period.'
BEGIN TRANSACTION
	DELETE FROM [TaxWFPortalData].[dbo].[Periods] WHERE EngagementId = @EngId AND TaxYearId = @TaxYear
	DELETE FROM [Sequence].[dbo].tblInstanceWorkflows WHERE fldId = @PeriodWorkflowInstance
	DELETE FROM [Sequence].[dbo].UWF41793259602e4feebefd7b8036fe91b2 WHERE EngagementID = @EngId AND  PeriodYear = @TaxYear
--ROLLBACK TRANSACTION
COMMIT TRANSACTION
PRINT 'Period deleted successfully.'

SET NOEXEC OFF
GO