/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [IES Client ID]
      ,[Client Name]
      ,[Taxpayer Name]
      ,[E-mail 1 (GTS Feed)]
      ,[Personnel Number]
      ,[GTS #]
      ,[Atlas ID]
      ,[Home Location]
      ,[Host Location]
      ,[Assignment Start Date]
      ,[Assignment End Date]
      ,[Authorization Policy]
      ,[Comments]
      ,[Residence Status]
      ,[Domiciled in UK]
      ,[Preparing Office]
      ,[Engagement Partner]
      ,[Engagement Manager]
      ,[Consultant]
      ,[Jr. Consultant]
      ,[Administrator]
      ,[Tax Form]
      ,[Current Status]
      ,[Proformad]
      ,[Organizer Sent to Taxpayer]
      ,[Method Sent]
      ,[Organizer Undeliverable]
      ,[Organizer FollowUp Reminder 1]
      ,[Organizer FollowUp Reminder 2]
      ,[Organizer FollowUp Reminder 3]
      ,[Organizer FollowUp Reminder 4]
      ,[Days Since Last FollowUp Sent]
      ,[Organizer Accessed]
      ,[Information received from client - electronic organizer received]
      ,[Outstanding Information Requested (taxpayer)]
      ,[Comments (taxpayer)]
      ,[Outstanding Information Received (taxpayer)]
      ,[Complete Information Received (taxpayer)]
      ,[Outstanding Information Requested (employer)]
      ,[Comments (employer)]
      ,[Complete Information Received (employer)]
      ,[Outstanding Information Requested (foreign office)]
      ,[Comments (foreign office)]
      ,[Complete Information Received (foreign office)]
      ,[Compensation Received from Co.]
      ,[Complete Information Received]
      ,[Sent to Compliance Team]
      ,[Received by Compliance Team]
      ,[Data Sent to OPI]
      ,[Data Received by OPI]
      ,[Preparation on Hold Open]
      ,[Preparation on Hold Closed]
      ,[Comments 2]
      ,[Pre Screen Started]
      ,[Pre Screen Completed]
      ,[Days with complete information]
      ,[Promise Date]
      ,[Processing Started]
      ,[Processing Completed]
      ,[Initial Return Review Started]
      ,[Initial Return Review Completed]
      ,[Data Returned to Preparer for Rework]
      ,[Data Returned from Preparer Rework Complete]
      ,[Return Review Started]
      ,[Return Review Completed]
      ,[TAX RETURN SENT TO TAXPAYER]
      ,[Client Permission to eFile Received]
      ,[Client Permission to eFile Denied]
      ,[Submitted to HMRC Gateway]
      ,[Tax Authority Acceptance Acknowledgement Received]
      ,[Tax Authority Rejection Acknowledgement Received]
      ,[Method Sent 2]
      ,[Returned to Client Service Team]
      ,[Received by Client Service Team]
      ,[TAX RETURN FILED WITH AUTHORITIES]
      ,[TAX PAYMENT COMMUNICATED TO CLIENT]
      ,[Balancing Pymnt to Tax Auth. Tax Rtn/Assmnt Agreed]
      ,[NO TAX RETURN REQUIRED]
      ,[DATE BILLED]
      ,[NON-BILLABLE PROJECT]
      ,[VIP]
      ,[EXL]
      ,[ErrorDate]
      ,[Tax Year]
      ,[SourceFile]
  FROM [TAX_Atlas_KPMGLink].[dbo].[ATLAS_Report_InError]
  WHERE ErrorDate >= '2019-01-01' AND [Tax Year] = 2019