/****** Finds Client ID using GTS ID  ******/
SELECT [LinkTypeId]
      ,[ForeignId]
      ,[ClientId]
      ,[IsPrimaryLink]
      ,[ForeignName]
      ,[ForeignCode]
  FROM [TaxWFPortalData].[dbo].[Links]

  WHERE LinkTypeId = 5
  AND ForeignCode IN (
  '813126',
'728567',
'9014775',
'685716',
'834174',
'9006581',
'719946',
'725713',
'828483',
'841404',
'809839',
'675374',
'754595',
'697078',
'670443',
'705340',
'698412',
'751168',
'804095',
'698120',
'694209',
'795804',
'825411',
'747130',
'808401',
'770230',
'682444',
'697360',
'686733',
'9021289',
'818002',
'687622',
'679383',
'674996',
'693451',
'779005',
'687662',
'684814',
'801127',
'673566',
'743014',
'706076',
'844804',
'708522',
'842518',
'747312',
'747078',
'830453',
'787197',
'688739',
'825891',
'9013529',
'702020',
'793406',
'814968',
'714775',
'812976',
'688662',
'684627',
'788875',
'697160',
'708051',
'783884',
'674982',
'813550',
'729331',
'696203',
'692033',
'833037',
'731773',
'671144',
'677305',
'709576'
  )